i.fab {
	padding: 0 8px;
	color: #0c2e44;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
i.fab:hover {
	color: #2e4f66;
}

a:link {
  text-decoration: none;
  color: red;

}

a:visited {
  text-decoration: none;
  color: #222222;
}

a:hover {
  color: Blue;

}

/* selected link */
a:active {
  color: Gray;
}


.shadow {
  -webkit-filter: drop-shadow( -3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( -3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}